* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid orange; */
}
body {
  background-image: linear-gradient(to top right, hsl(0, 100%, 50%), hsl(237, 100%, 50%));
  color: antiquewhite;
  height: 100%;
  /* transition: background-color 0.5s; */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.navbar {
  background-color: #1bbedf;
  width: 100%;
  align-self: center;
}
.navbar .cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.logo {
  width: 4rem;
  display: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 70vw;
}

.content {
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0.15;
  z-index: -1;
}

.me {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 2rem;
  width: 80%;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}

.pic {
  width: 40%;
  border: 2px solid #00bdfc;
  box-shadow: 2px 2px 10px #00c8ff76;
  border-radius: 50px;
  transition: border-color 0.5s;
}
.pic {
  animation: borderColorAnimation 2s infinite alternate;
}

@keyframes borderColorAnimation {
  0% {
    border-color: #00bdfc;
  }
  25% {
    border-color: #9a08c2f7;
  }
  50% {
    border-color: #5488f0f7;
  }
  75% {
    border-color: #ef6c91f7;
  }
  100% {
    border-color: #99ff00f7;
  }
}
.quick {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5rem;
}
.wrk {
  background-color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}
.hire {
  background-color: blue;
  padding: 5.5px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.divide {
  background-color: #fff;
  width: 100%;
  height: 50px;
  overflow-x: hidden;
}

/* ABOUT ME SECTION */

#aboutme {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 90%;
  align-self: center;
  position: relative;
}
.reach {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.tag {
  background-color: #fff;
  color: #1c0649;
  padding: 1rem;
  text-align: center;
  align-self: center;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
}

.tag::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  border-left: 20px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
  transform: rotate(-90deg);
  z-index: -1;
}

.abt {
  width: 10rem;
  box-shadow: 2px 2px 15px #2fe7ff;
  border-radius: 20%;
}

.writeup {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 2rem;
}

.writeup span {
  color: #0bd0f8;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.info a {
  color: #fff;
  text-decoration: none;
}

/* RESPONSIVENESS */

@media screen and (min-width: 520px) and (max-width: 600px) {
  .logo {
    display: block;
    width: 15%;
    max-width: 6rem;
  }
  .navbar .cont {
    gap: 6rem;
  }
  .me {
    flex-direction: row;
  }
  .quick {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .writeup {
    border: 1px dashed grey;
  }
  .myskill {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    display: block;
    width: 15%;
    max-width: 6rem;
  }

  .navbar {
    background-color: #1bbedf;
    width: 110%;
    align-self: center;
    justify-self: center;
  }
  .navbar .cont {
    background-color: #1bbedf;
    gap: 10rem;
    justify-content: space-between;
  }
  nav {
    width: 60%;
    max-width: 700px;
  }
  ul {
    gap: 3rem;
  }

  .me {
    max-width: 700px;
    text-align: center;
    flex-direction: row;
  }

  .reach {
    flex-direction: row;
    gap: 4rem;
  }

  .myskill {
    display: none;
    border: 1px solid #fff;
    width: 25%;
    position: fixed;
    left: 10rem;
    bottom: 20rem;
    background-color: #00000046;
  }
  .abt {
    width: 35%;
    /* max-width: 40rem; */
  }
  .writeup {
    border: 1px dashed gray;
    max-width: 500px;
    justify-self: center;
    padding: 1rem;
    font-size: 19px;
  }
}

@media screen and (min-width: 1000px) {
  .reach {
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-top: 4rem;
  }
}
